<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>747564512681-ght2l5stpi48stk4kbgm026nn9b5lb3o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.747564512681-ght2l5stpi48stk4kbgm026nn9b5lb3o</string>
	<key>API_KEY</key>
	<string>AIzaSyBlyWJFzPJ93LGf-dUhZd7U0p5WwkN5jVg</string>
	<key>GCM_SENDER_ID</key>
	<string>747564512681</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bhavaniconnect.bhavaniConnect</string>
	<key>PROJECT_ID</key>
	<string>bconnect-9d1b5</string>
	<key>STORAGE_BUCKET</key>
	<string>bconnect-9d1b5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:747564512681:ios:527c9785b447ba57f140b8</string>
	<key>DATABASE_URL</key>
	<string>https://bconnect-9d1b5.firebaseio.com</string>
</dict>
</plist>