<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>743549954450-1oqnfc5sla95udlq6hk95eirnnfhkcpj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.743549954450-1oqnfc5sla95udlq6hk95eirnnfhkcpj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>743549954450-p76efh70vd36hsgn30sc2pp55kseq1lj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDGLaim_o3ZDHmJzjwCsKpOtrf9pzsuHR4</string>
	<key>GCM_SENDER_ID</key>
	<string>743549954450</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.property.notification</string>
	<key>PROJECT_ID</key>
	<string>notification-85f02</string>
	<key>STORAGE_BUCKET</key>
	<string>notification-85f02.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:743549954450:ios:fa5f0d3f253ca05d4f394b</string>
	<key>DATABASE_URL</key>
	<string>https://notification-85f02.firebaseio.com</string>
</dict>
</plist>