<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bhavaniconnect.bhavani_connect">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:name="com.yalantis.ucrop.UcropActivity"
        android:icon="@mipmap/22.JPG"
        android:label="B Connect"
        />
    <activity
        android:name="com.yalantis.ucrop.UcropActivity"
        android:screenOrientation="portrait"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
</manifest>


